{{- /* Mizubikes override of PaperMod schema_json.html */ -}}
{{- $base := strings.TrimSuffix "/" site.BaseURL -}}
{{- if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.Title | jsonify }},
  "url": {{ site.BaseURL | jsonify }},
  "description": {{ (site.Params.description | default site.Title) | jsonify }}
}
</script>
{{- else if .IsPage }}
{{- with .Section }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": {{ (. | humanize | title) | jsonify }},
      "item": {{ (printf "%s/%s/" $base .) | jsonify }}
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": {{ $.Title | jsonify }},
      "item": {{ $.Permalink | jsonify }}
    }
  ]
}
</script>
{{- end }}
{{- $images := slice }}
{{- with .Params.cover }}{{ with .image }}{{ $images = $images | append (cond (hasPrefix . "http") . (printf "%s%s" $base .)) }}{{ end }}{{ end }}
{{- $kw := slice }}
{{- if reflect.IsSlice .Params.tags }}{{ range .Params.tags }}{{ $kw = $kw | append (printf "%v" .) }}{{ end }}{{ end }}
{{- $type := cond (eq .Section "posts") "BlogPosting" "WebPage" }}
{{- $desc := .Description | default (.Summary | plainify | truncate 250) | default site.Params.description }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{ $type | jsonify }},
  "headline": {{ .Title | jsonify }},
  "name": {{ .Title | jsonify }},
  "description": {{ $desc | jsonify }},
  "url": {{ .Permalink | jsonify }},
  {{- with $kw }}
  "keywords": {{ . | jsonify }},
  {{- end }}
  {{- with $images }}
  "image": {{ . | jsonify }},
  {{- end }}
  "datePublished": {{ (.Date.Format "2006-01-02T15:04:05Z07:00") | jsonify }},
  "dateModified": {{ (.Lastmod.Format "2006-01-02T15:04:05Z07:00") | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ (site.Params.author | default site.Title) | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ (printf "%s/favicon.ico" $base) | jsonify }}
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  }
}
</script>
{{- end }}